//MARGINS FOR CARD_STORIES

.m-b-1 {
    margin-top: 2.1rem;
    margin-bottom: 7.2rem;
}

.m-b-2 {
    margin-top: 2.1rem;
    margin-bottom: 4rem;
}

.m-b-3 {
    margin-top: 2.1rem;
    margin-bottom: 3.79rem;
}

.m-b-4 {
    margin-top: 2.1rem;
    margin-bottom: 5.5rem;
}

.text-left {
    text-align: left;
}