//COLORS 
$white-color: #FFFFFF; 
$blue-color: #5863F8;
$red-color: #FF4858;
$dark-grey-color: #8D8D8D;
$medium-grey-color: rgb(192, 192, 192);
$light-grey-color: #00000029;
$purple-color: #231841;

//FONT-SIZES 
$header__nav__link_font_size: 1.2rem; 
$h1_font_size: 2.4rem;

//BOX-SHADOWS: 
$box-shadow-center-box: 0px 0px 20px rgba(0, 0, 0, 0.16);
