*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(min-content, 1fr) [center-start] (minmax(min-content, 12rem))[10] [center-end] minmax(min-content, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(-webkit-min-content, 1fr) [center-start] repeat(10, minmax(-webkit-min-content, 12rem)) [center-end] minmax(-webkit-min-content, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(min-content, 1fr) [center-start] repeat(10, minmax(min-content, 12rem)) [center-end] minmax(min-content, 1fr) [full-end];
  -ms-grid-rows: min-content 40rem 1fr min-content;
      grid-template-rows: -webkit-min-content 40rem 1fr -webkit-min-content;
      grid-template-rows: min-content 40rem 1fr min-content;
  height: 100vh;
}

.h1 {
  font-size: 2.4rem;
}

.p {
  font-size: 1.4rem;
}

.m-b-1 {
  margin-top: 2.1rem;
  margin-bottom: 7.2rem;
}

.m-b-2 {
  margin-top: 2.1rem;
  margin-bottom: 4rem;
}

.m-b-3 {
  margin-top: 2.1rem;
  margin-bottom: 3.79rem;
}

.m-b-4 {
  margin-top: 2.1rem;
  margin-bottom: 5.5rem;
}

.text-left {
  text-align: left;
}

.section-header {
  grid-column: full-start / full-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.1rem 5.3rem;
}

.section-header .header {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-header .header > h1 {
  color: #FF4858;
  text-transform: uppercase;
}

.section-header .header__nav {
  grid-column: full-start / full-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header .header__nav__link {
  color: #8D8D8D;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.section-header .header__nav__link:not(:last-child) {
  margin-right: 3.6rem;
}

.section-carousel {
  grid-column: full-start / full-end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  position: relative;
}

.section-carousel::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("../../assets/img/JohnCleeseEricIdle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.section-carousel::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(88, 99, 248, 0.5);
}

.carousel {
  grid-column: full-start / full-end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  position: relative;
}

.carousel::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("../../assets/img/JohnCleeseEricIdle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.carousel::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(88, 99, 248, 0.5);
}

.section-footer {
  grid-column: full-start / full-end;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  background-color: #5863F8;
}

.section-footer .footer {
  padding: 10.2rem 7.2rem 3.4rem 7.2rem;
}

.section-footer .footer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-footer .footer__details > h4 {
  margin-bottom: 1rem;
  color: #FFFFFF;
  font-weight: 500;
}

.section-footer .footer__details > p {
  color: silver;
  text-align: center;
  max-width: 24rem;
  font-weight: 100;
}

.section-main {
  grid-column: center-start / center-end;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding: 5.6rem 10.4rem;
  margin: 0 4rem;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  height: 105%;
  position: relative;
  z-index: 10;
  background-color: #FFFFFF;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 64em) {
  .section-main {
    padding: 5.4rem 4.8rem;
  }
}

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info__heading {
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.info__heading--w436 {
  max-width: 43.6rem;
}

.info__paragraph {
  max-width: 75.2rem;
  color: #231841;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

.gridbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (36rem)[2];
      grid-template-columns: repeat(2, 36rem);
  -ms-grid-rows: (61.1rem)[2];
      grid-template-rows: repeat(2, 61.1rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.2rem;
          column-gap: 3.2rem;
  row-gap: 3.6rem;
  margin: 5.2rem 0 7.6rem;
}

.gridbox__img {
  width: 100%;
}

.gridbox__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 0px 10px #00000029;
          box-shadow: 0px 0px 10px #00000029;
}

.gridbox__card__details {
  padding: 2.15rem 4.2rem 5.4rem 4.2rem;
}

@media only screen and (max-width: 64em) {
  .gridbox__card__details {
    padding: 2.15rem 3.2rem 5.4rem 3.2rem;
  }
}

.gridbox__card__details__headings {
  text-align: center;
}

.gridbox__card__details__headings__paragraph {
  font-size: 1.2rem;
  color: #5863F8;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.gridbox__card__details__headings__heading {
  font-size: 2rem;
  color: #231841;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.gridbox__card__details__headings__heading::after {
  margin-top: 1.55rem;
  margin-left: auto;
  margin-right: auto;
  content: "";
  display: block;
  background-color: #5863F8;
  width: 8rem;
  height: .1999rem;
}

.gridbox__card__details__stories {
  color: silver;
  font-size: 1.4rem;
  max-width: 27.8rem;
  font-family: 'Roboto', sans-serif;
}

.gridbox__card__details__btn {
  margin: 0 auto;
  display: block;
  background-color: #FFFFFF;
  color: #FF4858;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  outline: none;
  border: 2px solid #FF4858;
  border-radius: 4px;
  padding: 1.2rem 3.3rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */