*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] minmax(min-content, 1fr) [center-start] (minmax(min-content, 12rem))[10] [center-end] minmax(min-content, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(-webkit-min-content, 1fr) [center-start] repeat(10, minmax(-webkit-min-content, 12rem)) [center-end] minmax(-webkit-min-content, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(min-content, 1fr) [center-start] repeat(10, minmax(min-content, 12rem)) [center-end] minmax(min-content, 1fr) [full-end];
  -ms-grid-rows: min-content 40rem 1fr min-content;
      grid-template-rows: -webkit-min-content 40rem 1fr -webkit-min-content;
      grid-template-rows: min-content 40rem 1fr min-content;
  height: 100vh;
}

.h1 {
  font-size: 2.4rem;
}

.p {
  font-size: 1.4rem;
}

.m-b-1 {
  margin-top: 2.1rem;
  margin-bottom: 7.2rem;
}

@media only screen and (max-width: 64em) {
  .m-b-1 {
    margin-top: 2rem;
    margin-bottom: 6.5rem;
  }
}

@media only screen and (max-width: 48em) {
  .m-b-1 {
    margin-bottom: 4.79rem;
  }
}

.m-b-2 {
  margin-top: 2.1rem;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 64em) {
  .m-b-2 {
    margin-top: 2rem;
    margin-bottom: 3.2rem;
  }
}

.m-b-3 {
  margin-top: 2.1rem;
  margin-bottom: 3.79rem;
}

@media only screen and (max-width: 48em) {
  .m-b-3 {
    margin-bottom: 3.5rem;
  }
}

.m-b-4 {
  margin-top: 2.1rem;
  margin-bottom: 5.5rem;
}

@media only screen and (max-width: 48em) {
  .m-b-4 {
    margin-bottom: 5.3rem;
  }
}

.m-r-0 {
  margin-right: 0 !important;
}

.text-left {
  text-align: left;
}

@media only screen and (max-width: 48em) {
  gridbox-card-detauls .g-c-d {
    padding: 1.4rem 3.2rem 3.2rem 3.2rem !important;
  }
}

@media only screen and (max-width: 48em) {
  .card-padding-custom {
    padding: 2.15rem 3.2rem 0rem 3.2rem !important;
  }
}

.padding-zero {
  padding: 5.4rem 4.8rem !important;
}

.h-15 {
  height: 115% !important;
  -webkit-transform: translateY(-3rem) !important;
          transform: translateY(-3rem) !important;
}

.h-109 {
  height: 109% !important;
  -webkit-transform: translateY(-2.5rem) !important;
          transform: translateY(-2.5rem) !important;
}

@media only screen and (max-width: 48em) {
  .m-button-b {
    margin-bottom: 4.5rem !important;
  }
}

@media only screen and (max-width: 48em) {
  .m-button-all {
    margin-bottom: 3.2rem !important;
  }
}

.section-header {
  grid-column: full-start / full-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.2rem;
  z-index: 2000;
  /* menu */
  /* menu icon */
  /* menu btn */
  /* 48em = 768px */
}

.section-header .header {
  width: 100%;
  max-width: 1200px;
  background-color: transparent;
  position: relative;
  z-index: 300;
}

@media only screen and (max-width: 1024px) {
  .section-header .header {
    padding: 0 12.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .section-header .header {
    padding: 0 8rem 0 12.8rem;
  }
}

@media only screen and (min-width: 521.5px) {
  .section-header .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 521.5px) {
  .section-header .header {
    padding: 0;
  }
}

.section-header .header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

@media only screen and (max-width: 520px) {
  .section-header .header ul {
    background-color: #fff;
  }
}

.section-header .header li a {
  display: inline;
  padding: 1.9rem 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #8D8D8D;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.6rem;
}

@media only screen and (max-width: 521.5px) {
  .section-header .header li a {
    margin-right: 0rem;
  }
}

.section-header .header li a p::after {
  margin-top: .1rem;
  content: "";
  width: 0%;
  background-color: #FF4858;
  height: .2rem;
  display: block;
  opacity: 1;
  -webkit-transition: .2s ease-in-out all;
  transition: .2s ease-in-out all;
}

.section-header .header li a p:hover::after {
  width: 100%;
  opacity: 1;
}

.section-header .header .menu-btn:hover {
  background-color: #f4f4f4;
}

.section-header .header .logo {
  display: block;
  float: left;
  padding: 12px 0 0 0;
  font-size: 2.4rem !important;
  position: relative;
  z-index: 4900;
  text-transform: uppercase;
  text-decoration: none;
  color: #FF4858;
  font-weight: 700;
}

@media only screen and (max-width: 521px) {
  .section-header .header .logo {
    margin-left: 6.4rem;
  }
}

@media only screen and (max-width: 360px) {
  .section-header .header .logo {
    margin-left: 3.2rem;
  }
}

.section-header .header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  position: relative;
}

@media only screen and (max-width: 521px) {
  .section-header .header .menu {
    text-align: center;
    margin-right: 0;
    padding-top: 1rem;
    -webkit-transform: translateY(-17px);
            transform: translateY(-17px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.section-header .header .menu::before {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 0;
  top: 0;
  width: 200%;
  height: 3rem;
  background-color: transparent;
  border: none;
  display: inline-block;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
}

@media only screen and (min-width: 521.5px) {
  .section-header .header .menu::before {
    display: none;
  }
}

.section-header .header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 27px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: .7rem;
}

@media only screen and (max-width: 521px) {
  .section-header .header .menu-icon {
    margin-right: 6.4rem;
    padding: 25px 20px;
  }
}

@media only screen and (max-width: 360px) {
  .section-header .header .menu-icon {
    padding: 24.9px 20px;
    margin-right: 3.4rem;
  }
}

@media only screen and (max-width: 360px) {
  .section-header .header .menu-icon {
    padding: 24.9px 20px;
    margin-right: 3.2rem;
  }
}

.section-header .header .menu-icon .navicon {
  background: #8D8D8D;
  display: block;
  height: 2.5px;
  position: relative;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  width: 18px;
}

.section-header .header .menu-icon .navicon:before,
.section-header .header .menu-icon .navicon:after {
  background: #8D8D8D;
  content: "";
  display: block;
  height: 2.5px;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 100%;
}

.section-header .header .menu-icon .navicon:before {
  top: 8px;
}

.section-header .header .menu-icon .navicon:after {
  top: -8px;
}

.section-header .header .menu-btn {
  display: none;
}

.section-header .header .menu-btn:checked ~ .menu {
  max-height: 240px;
  height: 210px;
}

.section-header .header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.section-header .header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.section-header .header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section-header .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.section-header .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 32.6em) {
  .section-header .header li {
    float: left;
  }
  .section-header .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .section-header .header .menu-icon {
    display: none;
  }
}

.section-carousel {
  grid-column: full-start / full-end;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-footer {
  grid-column: full-start / full-end;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  background-color: #5863F8;
}

.section-footer .footer {
  padding: 10.2rem 7.2rem 3.4rem 7.2rem;
}

.section-footer .footer__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-footer .footer__details > h4 {
  margin-bottom: 1rem;
  color: #FFFFFF;
  font-weight: 500;
}

.section-footer .footer__details > p {
  color: silver;
  text-align: center;
  max-width: 24rem;
  font-weight: 100;
}

.section-main {
  grid-column: center-start / center-end;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  padding: 5.6rem 10.4rem;
  margin: 0 16rem;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  height: 105%;
  position: relative;
  z-index: 10;
  background-color: #FFFFFF;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 64em) {
  .section-main {
    padding: 5.4rem 4.8rem;
    margin: 0 3.2rem;
  }
}

@media only screen and (max-width: 48em) {
  .section-main {
    max-width: 70.4rem;
    padding: 3rem 10.4rem;
  }
}

@media only screen and (max-width: 32.5em) {
  .section-main {
    max-width: 45.6rem;
    padding: 0rem 10.4rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .section-main {
    max-width: 28.8rem;
  }
}

@media only screen and (max-width: 20em) {
  .section-main {
    max-width: 25.6rem;
  }
}

@media only screen and (max-width: 32.5em) {
  .section-main {
    height: 103.5%;
  }
}

.info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media only screen and (max-width: 32.5em) {
  .info {
    width: 37.2rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .info {
    width: 22.8rem;
  }
}

@media only screen and (max-width: 20em) {
  .info {
    width: 19.4rem;
  }
}

.info__heading {
  font-weight: 700;
  letter-spacing: 0;
  margin-bottom: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.info__heading--w436 {
  max-width: 43.6rem;
}

@media only screen and (max-width: 22.5em) {
  .info__heading--w436 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 48em) {
  .info__heading {
    font-size: 2rem;
  }
}

.info__paragraph {
  max-width: 75.2rem;
  color: #231841;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 48em) {
  .info__paragraph {
    font-size: 1.4rem;
  }
}

.gridbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (36rem)[2];
      grid-template-columns: repeat(2, 36rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 3.2rem;
          column-gap: 3.2rem;
  row-gap: 3.6rem;
  margin: 5.2rem 0 7.6rem;
}

@media only screen and (max-width: 48em) {
  .gridbox {
    -ms-grid-columns: (28.8rem)[2];
        grid-template-columns: repeat(2, 28.8rem);
  }
}

@media only screen and (max-width: 32.5em) {
  .gridbox {
    -ms-grid-columns: (36rem)[1];
        grid-template-columns: repeat(1, 36rem);
  }
}

@media only screen and (max-width: 22.5em) {
  .gridbox {
    -ms-grid-columns: (28.8rem)[1];
        grid-template-columns: repeat(1, 28.8rem);
    row-gap: 0rem;
  }
}

@media only screen and (max-width: 20em) {
  .gridbox {
    -ms-grid-columns: (25.6rem)[1];
        grid-template-columns: repeat(1, 25.6rem);
  }
}

.gridbox__img {
  width: 100%;
}

.gridbox__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 0px 10px #00000029;
          box-shadow: 0px 0px 10px #00000029;
}

@media only screen and (max-width: 22.5em) {
  .gridbox__card {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.gridbox__card__details {
  padding: 2.15rem 4.2rem 5.4rem 4.2rem;
}

@media only screen and (max-width: 64em) {
  .gridbox__card__details {
    padding: 2.15rem 3.2rem 5.4rem 3.2rem;
  }
}

@media only screen and (max-width: 48em) {
  .gridbox__card__details {
    padding: 2.15rem 3.2rem 3.2rem 3.2rem;
  }
}

.gridbox__card__details__headings {
  text-align: center;
}

.gridbox__card__details__headings__paragraph {
  font-size: 1.2rem;
  color: #5863F8;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

.gridbox__card__details__headings__heading {
  font-size: 2rem;
  color: #231841;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.gridbox__card__details__headings__heading::after {
  margin-top: 1.55rem;
  margin-left: auto;
  margin-right: auto;
  content: "";
  display: block;
  background-color: #5863F8;
  width: 8rem;
  height: .1999rem;
}

.gridbox__card__details__stories {
  color: silver;
  font-size: 1.4rem;
  max-width: 27.8rem;
  font-family: 'Roboto', sans-serif;
}

.gridbox__card__details__btn {
  margin: 0 auto;
  display: block;
  background-color: #FFFFFF;
  color: #FF4858;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  outline: none;
  border: 2px solid #FF4858;
  border-radius: 4px;
  padding: 1.2rem 3.3rem;
  text-align: center;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 100%;
  z-index: 100;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu {
  position: absolute;
  top: 0;
  left: -100vw;
  margin: 0 auto;
  width: 100%;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5), .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__next > label:nth-child(1) {
  opacity: 1 !important;
  z-index: 3;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 50px auto;
}

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.carousel > input[type="radio"] {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 0;
}

.carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item,
.carousel > input[type="radio"]:checked ~ .carousel__prev > label,
.carousel > input[type="radio"]:checked ~ .carousel__next > label {
  opacity: 0;
}

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
  opacity: 1;
}

.carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
  background: #ccc;
  cursor: default;
  pointer-events: none;
}

.carousel__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: 40rem;
  position: relative;
}

.carousel__items__item {
  font-family: 'Poppins', sans-serif;
  margin-left: 10rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel__items__item__caption {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.carousel__items__item__h1 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: .13rem;
}

.carousel__items__item__h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

.carousel__items__item__data {
  font-size: 2.8rem;
  font-weight: 100;
}

.carousel__items__item__btn {
  background-color: transparent;
  border: 0.2rem solid #FFFFFF;
  border-radius: 4px;
  padding: 1.3rem 3rem;
  margin-top: 2rem;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.carousel__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.carousel__item img {
  width: 100%;
  vertical-align: middle;
}

.carousel__prev > label, .carousel__next > label {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  opacity: 0;
  z-index: 2;
}

.carousel__prev > label:hover, .carousel__prev > label:focus, .carousel__next > label:hover, .carousel__next > label:focus {
  opacity: .5 !important;
}

.carousel__prev > label:before, .carousel__prev > label:after, .carousel__next > label:before, .carousel__next > label:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}

.carousel__prev > label:before, .carousel__next > label:before {
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0))), -webkit-gradient(linear, right top, left top, from(#fff), color-stop(10%, #fff), color-stop(10%, rgba(51, 51, 51, 0)));
  background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
  width: 60%;
  height: 60%;
  top: 20%;
}

.carousel__prev > label {
  left: 2%;
}

.carousel__prev > label:before {
  left: 35%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.carousel__next > label {
  right: 2%;
}

.carousel__next > label:before {
  left: 10%;
  transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
}

.carousel__nav {
  position: absolute;
  bottom: 10%;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.carousel__nav > label {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 .125%;
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */